body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Scope One", serif;
}
header {
  display: flex;
  justify-content: center;
}
.logo{
  color: #53B3E3;
  font-family: 'Pacifico', cursive;
}
main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.wrapper-userInput {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
}
.wrapper-userInput h2 {
  text-align: center;
}
.wrapper-userInput div {
  padding: 10px;
}
.wrapper-setTask label {
  display: block;
}
.btn-addTask {
  border: none;
  color: white;
  background-color: #53B3E3;
  border-radius: 10px;
  padding: 5px;
  margin: 0 10px 0 10px;
}
.btn-deleteWeek{
  border: none;
  color: white;
  background-color: #f44336;
  border-radius: 10px;
  padding: 5px;
}
.wrapper-taskList {
  /* Overflow possibility! */
  min-width: 150px;
  /* max-width: 150px; */
  margin-bottom: 20px;
  padding: 10px;
}
.wrapper-taskList h2 {
  text-align: center;
}
.delete-day-icon{
  width: 25px;
  height: 25px;
  vertical-align: middle;
}
.wrapper-taskList p {
  text-align: center;
}
.wrapper-taskList li {
  text-align: center;
  padding: 5px;
  margin-bottom: 10px;
}
.wrapper-taskList button {
  background-color: #53B3E3;
  border: solid 1px #53B3E3;
  margin-left: 20px;
}
.wrapper-taskList ul {
  padding-inline-start: 0;
}
.wrapper-task-input {
  display: flex;
  justify-content: space-between;
  border-bottom: dashed white 2px;
  padding-bottom: 10px;
}
.delete-task-icon{
  width: 25px;
  height: 25px;
  padding: 5px 5px 0px 0;
}
.check-checkbox-icon{
  width: 30px;
  height: 30px;
  padding: 5px 0 0 5px;
}
.task-style {
  list-style-type: none;
  border-radius: 10px;
  background-color: #53B3E3;
}
.taskDone {
  color: white;
  opacity: 0.60;
}
footer p {
  text-align: center;
}
